/proyecto-labdic.code-workspace
taller_de_integracion_2/docs
taller_de_integracion_2/main.lof
taller_de_integracion_2/main.lot
taller_de_integracion_2/main.toc
taller_de_integracion_2/Packages.aux
taller_de_integracion_2/Packages.fdb_latexmk
taller_de_integracion_2/Packages.fls
taller_de_integracion_2/Packages.log
app-backend/README_schema.md
app-backend/schema.sql
app-frontend/.env
informes/